<h1>Игры</h1>

<table id="results" cellspacing="0">
  <tr>
    <th class="id"></th>
    <th>Первый игрок</th>
    <th>Второй игрок</th>
    <th>Палочки</th>
    <th>Победитель</th>
    <th>Дата</th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td class="id"><%= game.id %></td>
    <td><%= game.first_player %></td>
    <td><%= game.second_player %></td>
    <td><%= game.sticks %></td>
    <td><%= game.winner %></td>
    <td><%= game.created_at %></td>
    <td class="last"><%= link_to 'Удалить', game, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новая игра', new_game_path %>
